
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- LEFT CONTENT & RIGHT IMAGE -->
<section id="left-content-section" class="site-amazing-features left-heading two-colom-section" ng-controller="detailrecruitController">
    <div class="container">
        <div class="half-colom-right-section wow fadeInDown" data-wow-duration="2s">
            <img src="~/Images/Recruit/{{recruit.Picture}}" alt="rightimage">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="half-colom-left-section">
                    <!-- H1 HEADING -->
                    <h1>{{recruit.Title}} </h1>
                    <div class="two-colom-content">
                        <p ng-bind-html="recruit.ContentRecruit">

                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<script src="~/Content/Website/angular/singlerecruit/SingleRecruitModel.js"></script>
<script src="~/Content/Website/angular/singlerecruit/SingleRecruitService.js"></script>
<script src="~/Content/Website/angular/singlerecruit/SingleRecruitController.js"></script>

